<div class="logowanie col-lg-12 text-center ">
	<div class="row">
		<div class="col-lg-12 text-center">
			<nav class="navbar  navbar-inverse bg-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Pilkarze</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a  ng-click="liga('all')" href="#/panel">Glowna</a></li>
						<li><a  ng-click="liga('l1')"  href="#/liga1">Liga 1</a></li>
						<li><a  ng-click="liga('l2')"  href="#/liga2">Liga 2</a></li>
						<li ><a  ng-click="liga('l3')"  href="#/liga3">Liga 3</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#/kontakt">Kontakt</a></li>
						<li ><a href="#/login">Logowanie</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Profil <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Moj Profil</a></li>
								<li><a href="#">Another action</a></li>
								<li class="divider"></li>
								<li><a href="#">Wyloguj</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 text-center">
			<h2>Kontakt</h2>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-lg-5"></div>
		<div class="col-lg-2 text-center">
			<h2>Warzasza</h2>
		</div>
		<div class="col-lg-5"></div>
	</div>
	<div class="row">
		<div class="col-lg-5"></div>
		<div class="col-lg-2 text-center">
			<h2>Ostrobramksa</h2>
		</div>
		<div class="col-lg-5"></div>
	</div>
	

</div>

